# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
# main branch targets
- target-branch: main
  package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "monthly"
  labels:
  - area/dependency
- target-branch: main
  package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "monthly"
  labels:
  - area/tooling
  groups:
    artifact-actions:
      patterns:
      - "actions/upload-artifact"
      - "actions/download-artifact"
