name: Build and Test Pull Request

# Trigger the workflow on push or pull request
on:
  push:
    branches-ignore:
    - "dependabot/**"
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read

env:
  GOPROXY: https://proxy.golang.org/
  GO_VERSION: 1.26.0

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: ${{ env.GO_VERSION }}
        cache: false
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: golangci-lint
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        version: v2.10.1
        args: --build-tags=e2e
    - name: helm-lint
      run: helm lint --strict charts/contour/

  e2e:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: add deps to path
      run: |
        ./hack/actions/install-kubernetes-toolchain.sh $GITHUB_WORKSPACE/bin
        echo "$GITHUB_WORKSPACE/bin" >> $GITHUB_PATH
    - name: e2e tests
      run: |
        make e2e
